**__pycache__**
**build**
**egg-info**
**dist**
raw_data/
**waymo_processed_data_**
*.pyc
venv/
*.idea/
*.so
*.yaml
*.sh
*.pth
*.pkl
*.npy
*.zip
*.bin
output
version.py
*.onnx
*.trt
Release/
.vscode/
pcdet.egg-info/
ament_**
CMakeFiles/
Makefile
CTest*
CMakeCache.txt
cmake_install.cmake
centerpoint_node